/* Ensure broad text-size-adjust support across browsers */
html, :host {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

body {
  font-family: 'Noto Sans Thai', sans-serif;
}
